.mypage-header {
    height: 120px;
}

.user-name {
    font-size: 32px;
    text-align: center;
}

.container {
    display: flex;
}

.resevation-info {
    margin-left: 150px;
    margin-right: 150px;
    width: 750px;
}

.reservation-infos {
    background-color: #3560F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.info-header-left {
    display: flex;
}

.clock {
    width: 40px;
}

.reservation-index {
    color: white;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 50px;
}

.close-button {
    margin-right: 40px;
    width: 40px;
}

.info {
    margin-left: 40px;
    margin-bottom: 20px;
}

.info__table td{
    color: white;
    font-size: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}



.title {
    font-size: 32px;
}

.favorite-shops {
    padding-right: 150px;
    width: 720px;
}


